/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: rgb(246, 246, 246);
  height: 900px;
}

.bg-gray2 {
  background-color: rgb(246, 246, 246);
}

header {
  background-color: rgb(49, 97, 224);
}

h1 {
  font-size: 50px;

}

h2 {
  color: rgb(113, 135, 213);
  font-size: 40px;
  padding-bottom: 15px;
}

h3 {
  color: rgb(113, 135, 213);
  font-size: 20px;
}

ul {
  color: #fff;
  list-style: none;
  line-height: 38px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  background-color: rgb(49, 97, 224);
  color: white;

}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-menu > * {
  padding-right: 30px;
}

.navbar-logo {
  height: 20px;
  text-align:justify;
  padding-bottom: 35px;
}

.navbar-actions {
  text-align: right;
}
.navbar-actions button {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #fff;
  text-decoration: none;
  
}



/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 500px;
  /* background-color: darkblue; */
  display: flex;
  justify-content: center;
  background-image: url("img/jumbo.png");
  background-size: cover;
  color: white;
}

.jumbotron .content {
  width: 50%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /* background-color: violet; */
  text-align: center;


}

.jumbotron h1 {
  padding: 50px 0 20px 0;
}

.jumbotron p {
  padding-bottom: 15px;
  }

  .jumbotron .content button {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #fff;
  text-decoration: none;
  }

  #blk-bttn {
    background-color: rgb(6, 6, 6);
    color: #fff;
  }



/* # Main & sections */
section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 30%;
  /* background-color: pink; */
  text-align:left;
}

.flex > .large-col {
  flex-basis: 60%;
  /* background-color: dodgerblue; */
  /* background-image: url("img/item1.svg"); */
}

.titles-column {
  padding-top: 30px;
  padding-bottom: 20px;
}

.flex > .full-col {
  flex-basis: 100%;
  /* background-color: darkgreen; */
  text-align: center;
  height: 700px;
}


/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(113, 135, 213);

  display: flex;
}

.flag {
  height: 20px;
}

.footer-top .footer-left {
  flex-basis: 30%;
  background-color: rgb(35, 39, 42);
}

.footer-top .footer-left span {
  color: #fff;
  padding: 5px;
  position: relative;
  bottom: 4px;
}

.fa-brands {
  color: #fff;
  padding: 15px 30px 5px 0;
}


.footer-top .footer-right {
  flex-basis: 70%;
  background-color: rgb(35, 39, 42);
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(35, 39, 42);
}

.footer-bottom > * {
  padding: 5px 10px;
  background-color: rgb(35, 39, 42);
}

.footer-bottom button {
  background-color: rgb(188, 200, 237);
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}
